## Credential
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"

## volume configuration
MINIO_VOLUMES="{{ minio_volume_bind }}"

## Export port
MINIO_OPTS="-C /etc/minio --address :{{ minio_ports_api }} --console-address :{{ minio_ports_console }}"

## Browser module
MINIO_BROWSER={{ minio_browser_enabled }}

## secure ssl
MCS_SECURE_SSL_REDIRECT={{ minio_secure_ssl_redirect_enabled }}