## Credential
MINIO_ROOT_USER="{{ minio.access_key }}"
MINIO_ROOT_PASSWORD="{{ minio.secret_key }}"
# MINIO_ACCESS_KEY="{{ minio.access_key }}" # has bean deprecated
# MINIO_SECRET_KEY="{{ minio.secret_key }}" # has bean deprecated

## volume configuration
MINIO_VOLUMES="{{ minio.volume_bind }}"

## Export port
# MINIO_OPTS="-C /etc/minio --address :{{ minio.ports.api }} --console-address :{{ minio.ports.console }}"
MINIO_OPTS="-C /etc/minio --address :{{ minio.ports.api }}"

## Browser module
MINIO_BROWSER=off
# MINIO_BROWSER_REDIRECT_URL="{{ minio.domain }}"
# MINIO_SERVER_URL="{{ minio.domain }}"

## secure ssl
MCS_SECURE_SSL_REDIRECT=off