MINIO_ROOT_USER="{{ minio.access_key }}"
MINIO_ROOT_PASSWORD="{{ minio.secret_key }}"
# MINIO_ACCESS_KEY="{{ minio.access_key }}" # has bean deprecated
# MINIO_SECRET_KEY="{{ minio.secret_key }}" # has bean deprecated
MINIO_VOLUMES="{{ minio.volume_bind }}"
MINIO_OPTS="-C /etc/minio --address :{{ minio.ports.api }} --console-address :{{ minio.ports.console }}"
# MINIO_BROWSER=off